.cart__layout {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 5;
}

.cart__body {
  position: fixed;
  width: 27.2%;
  background: white;
  right: 0;
  top: 0;
}

.cart__container {
  max-width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.cart__title {
  font-weight: 700;
  font-size: 24px;
  margin: 32px 0px 0px 0px;
}

.cart__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 88vh;
}

.cart__grid {
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.summary-cart__button {
  width: 100%;
  padding: 17px;
  margin-top: 25px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  background: #9dd558;
  border-radius: 18px;
  position: relative;
}

.summary-cart__button::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 20px;
  position: absolute;
  right: 50px;
  margin-top: 2px;
}

.text-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  position: relative;
}

.text-summary__text {
  display: inline;
  white-space: nowrap;
}

.text-summary__dots {
  width: 100%;
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 15px;
  margin: 0px 0px 0px 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #dfdfdf;
}

.text-summary__price {
  font-weight: 700;
  white-space: nowrap;
  display: inline;
}

.offer-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

.offer-cart__img {
  width: 120px;
  height: 120px;
}

.offer-cart__text {
  text-align: center;
}

.offer-cart__title {
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0px 12px 0px;
}

.offer-cart__main {
  font-size: 16px;
  opacity: 0.4;
}

.offer-cart__button {
  margin-top: 40px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  background: #9dd458;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0px;
  width: 245px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.offer-cart__button::before {
  margin-right: 10px;
}
/*# sourceMappingURL=Cart.css.map */