.cart {
  // .cart__layout
  &__layout {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
  }

  // .cart__body
  &__body {
    position: fixed;
    width: 340 / 1250 * 100%;
    background: white;
    right: 0;
    top: 0;
  }

  &__container {
    max-width: 80%;
    margin: 0 auto;
    height: 100vh;
  }

  // .cart__title
  &__title {
    font-weight: 700;
    font-size: 24px;
    margin: 32px 0px 0px 0px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 88vh;
  }

  &__grid {
    margin-top: 20px;
    flex: 1 1 auto;
  }
}

.summary-cart {
  &__button {
    width: 100%;
    padding: 17px;
    margin-top: 25px;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: #9dd558;
    border-radius: 18px;
    position: relative;
    &::before {
      transform: rotate(180deg);
      margin-left: 20px;
      position: absolute;
      right: 50px;
      margin-top: 2px;
    }
  }
}

.text-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  position: relative;
  &__text {
    display: inline;
    white-space: nowrap;
  }

  &__dots {
    width: 100%;
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 15px;
    margin: 0px 0px 0px 2px;
    flex: 1 1 auto;
    color: #dfdfdf;
  }

  &__price {
    font-weight: 700;
    white-space: nowrap;
    display: inline;
  }
}

.offer-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;

  // .offer-cart__img
  &__img {
    width: 120px;
    height: 120px;
  }

  // .offer-cart__text

  &__text {
    text-align: center;
  }

  // .offer-cart__title

  &__title {
    font-weight: 600;
    font-size: 22px;
    margin: 10px 0px 12px 0px;
  }

  // .offer-cart__main

  &__main {
    font-size: 16px;
    opacity: 0.4;
  }

  // .offer-cart__button

  &__button {
    margin-top: 40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background: #9dd458;
    border-radius: 18px;
    display: flex;
    padding: 17px 0px;
    width: 245px;
    justify-content: center;
    cursor: pointer;
    &::before {
      margin-right: 10px;
    }
  }
}
