.header {
  margin-top: 85px;
  height: 130px;
  background: #fff;
  padding: 45px 0px;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1px solid #eaeaea;

  // .header__logo
  &__logo img {
    height: 40px;
    width: 40px;
   
  }

  &__logo{
    @media (max-width: 479px) {
        flex: 1 1 auto;
    }
  }

  // .header__main
  &__main {
    margin-left: 16px;
  }

  &__navbar {
    height: 40px;
    display: flex;
    align-items: center;
    max-width: 960 / 1080 * 100%;
    margin: 0 auto;
  }

}

.header-icon {
  width: 20px;
  height: 20px;
  &:hover {
    color: #686868;
    transition: 0.3s ease all 0s;
  }
}

.main-header {
  // .main-header__title
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }

  // .main-header__text
  &__text {
    color: #9d9d9d;
    font-size: 14px;
  }
  @media (max-width: 479px) {
      display: none;
  }
}
.actions-header {
  // .actions-header__basket
  display: flex;
  align-items: center;
  :not(:last-child):not(:first-child) {
    margin-right: 30px;
  }

  cursor: pointer;
  &__basket {
    color: #9b9b9b;
  }

  // .actions-header__favorite
  &__favorite {
    color: #9b9b9b;
  }

  // .actions-header__saved
  &__saved {
    color: #9b9b9b;
  }
}

.cart-header {
  display: flex;
  align-items: center;
  height: 20px;
  margin-right: 30px;

  // .basket-header__icon
  &__icon {
    margin: 0px 8px 0px 0px;
    color: #9b9b9b;
  }

  // .basket-header__text
  &__text {
    font-size: 14px;
    color: #5c5c5c;
    margin-bottom: 1px;
  }
}
